// sidebar
$menuText:#694E4E;
$menuActiveText:#1572A1;
$subMenuActiveText:#694E4E;

$menuBg:#F0ECE3;
$menuHover:#DFD3C3;

$subMenuBg:#DFD3C3;
$subMenuHover:#C7B198;

$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
